run = "node backend/server.js"
modules = ["nodejs-20"]

[userenv]

[userenv.shared]

[deployment]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
expertMode = true
